@font-face { font-family: "Palanquin"; src: url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap")
}


*{ font-family: "Palanquin", sans-serif;
 }


.navbar-brand{
   font-family: "Palanquin", sans-serif;
   font-weight: 700;
 }

 .nav-link{
   font-family: "Palanquin", sans-serif;
   font-weight: bold;
 }

.display-2{
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
}


h1{
  font-family: "Palanquin", sans-serif;
  font-weight: 700, bolder;
  font-size: 2.5rem !important;
}

.lead center  { 
  font-family: "Palanquin", sans-serif;
  font-weight: 600, semi-bold;
}

h3{
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
  color: #ffffff;
}

h5{
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
}
p{ 
  font-family: "Palanquin", sans-serif;
  font-weight: 400;
  font-size: 120%;
}

.navbar{
  margin-bottom: 1rem;
}

.navbar-brand {
  width: 50px;
}
.navbar-brand img {
  height: 50px;
  float: left;
  margin-right: 7px;
}
.center {
    text-align: center;
}

.card-deck {
  padding-top: 100px;
  height: 30px;
  
}

img{
  max-height: 400px;
  
}



.card-text{
  font-size: 16px;
  padding-bottom: 2rem;
}


.hero-image { 
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1596977771393-0c660a2432f7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTg5fHxoYXdhaWl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");

/* Set a specific height */
height: 50vh;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* position: absolute; */
}

/* Place text in the middle of the image */
.hero-text {
  align-self: center;
  z-index: 1;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /* transform: translate(-50%, -50%); */
  color: white;

}

.navbar-brand img {
  height: 128px;
  float: left;
  margin-right: 7px;
}


.list-group{
  padding-top: 2em;
  font-size: 21px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

/*
.footer { 
  position: fixed-bottom;
  width: 100%;
  font-family: "Palanquin", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 50%;  
}

.footer-image {
  min-height: 40vh;
  max-height: 100vh;
  width: 100%;
} 



#footer {
  background-image: url("images/plumeria-onthe-beach.png");
  text-align: center;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;  

}*/

.card{
  background-color:white;
}

.col-sm-6{
  padding: 0, 10%, 0, 0;
}

.col-sm-4{
  padding: 5%;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-bottom: 60px;
}

main {
  flex: 1;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  
}

#bottom{
  height: 60px;
}
